[Desktop Entry]
Type=Application
Name=Player
Comment=just_audio implementation for Aurora
Icon=com.example.example
Exec=/usr/bin/com.example.example
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=Audio;UserDirs;Internet;
OrganizationName=com.example
ApplicationName=example
